    <section>
      <div class="row">
        <ul class="pull-right view-choice">
          <li><%= link_to "Show Discounted Items", "/products?view=discounted" %></li>
          <li><%= link_to "Show Priced Lowest to Highest", "/products?view=order_by_price" %></li>
          <li><%= link_to "Show Priced Highest to Lowest", "/products?view=order_by_price_desc" %></li>
          <li><%= link_to "I'm feeling lucky", "/products/random" %></li>
          <li><%= link_to "Show All", "/products" %></li>
          <% @categories.each do |category| %>
            <li><%= link_to "#{category.name} Tacos", "/products?category=#{category.name}" %></li>
          <% end %>
        </ul>
      </div>
      <div class="row">
      
      <!--Make magic happen here Ruby!-->


      <% @products.each do |taco| %>

        <div class="col-sm-4">
          <div class="taco_single">
            <h2><%= taco.name %></h2>
            <li>Price: <%= taco.price %></li>
            <a href="/products/<%= taco.id %>" title="View Taco"><img src="<%= taco.images.first.image_url %>" alt="<%= taco.name %>" class="img-responsive taco_single_image"></a>
            <li>Description: <%= taco.description %></li>
            <li>Rating: <span class="rating"><%= taco.rating %></span></li>
          </div>
        </div>
      <% end %>
      <!--Magic ends-->

      </div>
    </section>
    <%= link_to "Add New Recipe", "products/new" %>
